{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Logs{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/> 
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">All Logs</h1>
        <div class="col-xs-8">
          </div>
          {% if log_entries %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"> Log ID </th>
                  <th width="30%"> Name </th>
                  <th width="20%"> Time </th>
                  <th width="15%"> Door </th>
                </tr>
              </thead>
              <tbody>
                {% for log in log_entries %}
                    <tr>
                      <td> {{ log[0].log_id }} </td>
                      <td> {{ log[1].owner_name }} </td>
                      <td> {{ log[0].time }} </td>
                      <td> {{ log[2] }} </td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
           {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}